<h1>Jay's Blog</h1>

<%= link_to 'Le Articles', controller: 'articles'%>
<%= link_to 'New article', new_article_path %>
<%= link_to 'Photos', controller: 'photos'%>
<%= link_to 'Add Photo', new_photo_path %>